---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast/daily?cnt=7&q=Denver&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"cod":"200","message":0.005,"city":{"id":5419384,"name":"Denver","coord":{"lon":-104.984703,"lat":39.739151},"country":"US","population":0,"sys":{"population":0}},"cnt":7,"list":[{"dt":1399399200,"temp":{"day":69.37,"min":59.5,"max":71.38,"night":59.5,"eve":69.6,"morn":69.37},"pressure":829.38,"humidity":54,"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03d"}],"speed":4.69,"deg":127,"clouds":32},{"dt":1399485600,"temp":{"day":60.03,"min":42.12,"max":60.03,"night":42.12,"eve":54.05,"morn":49.93},"pressure":830.64,"humidity":71,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":12.55,"deg":92,"clouds":0,"rain":2.5},{"dt":1399572000,"temp":{"day":43.95,"min":33.06,"max":44.65,"night":33.06,"eve":43.32,"morn":34.92},"pressure":833.15,"humidity":91,"weather":[{"id":601,"main":"Snow","description":"snow","icon":"13d"}],"speed":16.57,"deg":353,"clouds":80,"rain":12.5,"snow":4.25},{"dt":1399658400,"temp":{"day":57.63,"min":29.66,"max":59.5,"night":42.76,"eve":59.5,"morn":29.66},"pressure":835.17,"humidity":89,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":4.02,"deg":268,"clouds":0},{"dt":1399744800,"temp":{"day":61.09,"min":36.86,"max":62.08,"night":40.17,"eve":59.68,"morn":36.86},"pressure":832.94,"humidity":59,"weather":[{"id":800,"main":"Clear","description":"sky is clear","icon":"01d"}],"speed":15.68,"deg":287,"clouds":0},{"dt":1399831200,"temp":{"day":54.52,"min":37.6,"max":57.25,"night":38.97,"eve":57.25,"morn":37.6},"pressure":807.06,"humidity":0,"weather":[{"id":501,"main":"Rain","description":"moderate rain","icon":"10d"}],"speed":11.56,"deg":159,"clouds":76,"rain":3.41},{"dt":1399917600,"temp":{"day":57.94,"min":33.13,"max":58.42,"night":41.41,"eve":58.42,"morn":33.13},"pressure":808.3,"humidity":0,"weather":[{"id":500,"main":"Rain","description":"light rain","icon":"10d"}],"speed":4.45,"deg":185,"clouds":4,"rain":1.65}]}
  recorded_at: Tue, 06 May 2014 22:23:14 GMT
recorded_with: VCR 2.9.0
